<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
    <h2>{{ test.title | uppercase }}</h2>
    <img [src]="test.imageUrl" [alt]="test.title">
    <p>{{ test.description }}</p>
    <p>FaceSnap créée le {{ test.createdAt | date }}</p>
    <button (click)="onAddSnap()">{{ snapButtonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + test.snaps + ', 0)' }">🤌 {{ test.snaps }}</span>
    @if (test.location) {
        <p>Localisation : {{ test.location }}</p>
    } @else {
        <p>Localisation non spécifiée</p>
    }
    <a routerLink="/facesnaps">BACK</a>
</div>
